form {
    max-width: 350px;
}

.weight-500 {
    font-weight: 500;
    font-size: 35px;
}

.charts-content-block {
    margin: 50px 10px;
}

.charts-song-cover {
    border-radius: 11px;
}

.recognize-window {
    padding: 75px 0px;
}

.header-navigation-bar {
    margin-bottom: 20px;
}