form {
    max-width: 350px;
}

.weight-500 {
    font-weight: 500;
    font-size: 35px;
}

.charts-content-block {
    margin: 30px 10px;
}

.charts-song-cover {
    border-radius: 11px;
}

.recognize-window {
    padding: 75px 0px;
}

.header-navigation-bar {
    position: fixed; /* Зафиксировать панель навигации */
    top: 0; /* Прикрепить её к верхней части экрана */
    width: 100%; /* Занимать всю доступную ширину */
    z-index: 1000; /* Установить высокий z-index, чтобы панель была поверх остального содержимого */
    background-color: #007bff; /* Цвет фона панели навигации */
}

.container {
    margin-top: 100px; /* Высота панели навигации + небольшой отступ */
}

.library-track-buttons {
  display: flex;
 }

.library-track-href {
    text-decoration: none
}



/* Добавляем стили для подсветки квадратной области при наведении */
.navbar-brand {
    position: relative;
}

/* Создаем псевдоэлемент */
.navbar-brand::after {
    content: "";
    position: absolute;
    bottom: -11px; /* Располагаем псевдоэлемент под текстом ссылки */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: #fff; /* Начальный цвет квадратной области */
    transition: width 0.3s ease; /* Плавное изменение ширины */
}

/* Добавляем стили для подсветки квадратной области при наведении */
.navbar-brand:hover::after {
    width: 100%; /* Увеличиваем ширину квадратной области при наведении */
}

/* Изменяем цвет текста ссылки при наведении */
.navbar-brand:hover {
    color: #007bff; /* Цвет текста ссылки при наведении */
}

/* Стили для активной ссылки */
.navbar-brand.active {
    background-color: #fff; /* Цвет фона активной ссылки */
    color: #007bff; /* Цвет текста активной ссылки */
    border-radius: 5px; /* Закругление углов */
}

/* Добавляем стили для подсветки квадратной области активной ссылки */
.navbar-brand.active::after {
    width: 100%; /* Ширина квадратной области */
}

.btn-group > .btn {
    margin-right: 30px; /* Расстояние между кнопками */
}

.top-100-heading {
  background: linear-gradient(to right, cyan, blue, #007bff);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: rainbow 5s ease infinite;
  animation: rainbow 20s ease infinite;
  font-size: 65px;
  line-height: 75px;
}

@-webkit-keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

@keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}





/* Add this CSS to your existing stylesheet */

.container {
    max-width: 600px;
    margin: 0 auto;
}

.track-info {
    display: flex;
    margin-top: 50px;
}

.track-image {
    flex: 0 0 40%;
}

.track-details {
    flex: 0 0 60%;
    padding-left: 20px;
}

.track-title {
    font-size: 24px;
    margin-top: 0;
    color: #007bff;
    font-weight: bold;
    font-size: 30px;
}

.track-artist {
    font-size: 18px;
    color: #666;
}

.copy-link {
    margin-top: 20px;
}

.copy-link input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.track-actions {
    margin-top: 20px;
}

.no-track-info {
    text-align: center;
    margin-top: 50px;
    color: #666;
}

.rounded-cover {
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.container_track {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.rounded-cover img {
    border-radius: 30px; /* Adjust the value as needed */
}

.share-btn {
    background: none;
    border: none;
    padding: 0;
}
