{% extends "base.html" %}
{% block title %} Об исполнителе {% endblock %}

{% block content %}
    {% if artist %}
        <div class="recognize-window">
            <figure style="margin: 40px 0px;">
                <img width="250px" height="250px" style="border-radius: 25px" src= {{ artist.background }}>
                <figcaption> <b>{{ artist.artist }}</b> <br> Жанр: {{ artist.genre }} <br>
                    Количество треков на платформе: {{ platform_tracks }}
                </figcaption>
            </figure>
            <div class="copy-link">
                <button class="btn btn-success" onclick="copyToClipboard('{{ link }}')">Поделиться</button>
            </div>
        </div>

        <h2> Лучшие песни исполнителя </h2>
        {% for track in best_tracks %}
        <div class="charts-content-block">
            <img width="125px"
                 height="125px"
                 class="charts-song-cover"
                 src="{{ track.background }}">

                <div style="font-weight: 500">
                    <a href="/track/{{ track.id }}">{{ track.track }}</a> <br>
                    <a href="/artist/shazam_id/{{ track.artist_id }}">{{ track.band }}</a>
                </div>
        </div>
        {% endfor %}

        <h2> Все песни на исполнителя на платформе</h2>
        {% for track in all_tracks %}
        <div class="charts-content-block">
            <img width="125px" height="125px" class="charts-song-cover" src={{ track.background }}>

            <div style="font-weight: 500">
                <a href="/track/{{ track.id }}">{{ track.track }}</a> <br>
                <a href="/artist/shazam_id/{{ track.artist_id }}">{{ track.band }}</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
            <div class="no-track-info" style="margin-top: 150px">
                <p>К сожалению, у нас нет информации о данном исполнителе...</p>
            </div>

    {% endif %}

    <script>
        function copyToClipboard(link) {
            navigator.clipboard.writeText(link)
        }
    </script>
{% endblock %}
