{% extends "base.html" %}
{% block title %} Правила {% endblock %}

{% block content %}
    <div class="no-track-info" style="margin-top: 150px">
        <h1>Основное правило платформы PyJam</h1>

        <p style="margin-top: 50px;">
            Не используйте плохие слова, а также изображения с неприемлемым содержанием
        </p>

        <p style="margin-top: 50px;">
            За несоблюдение правил администрация сайта вправе выдать пользователю<br>
            предупреждение, а также обнулить фотографии, имя и фамилию пользователя.<br>
            При повторных нарушениях администрация PyJam имеет полное право <br>
            удалить аккаунт нарушителя со всеми данными. </p>

        <h1 style="margin-top: 50px;"> Оставайтесь добропорядочными! </h1>
    </div>
{% endblock %}