{% extends "base.html" %}
{% block title %} Правила {% endblock %}

{% block content %}
    <style>
        body {
            background-color: #222;
            color: #fff;
        }

        .no-track-info {
            margin-top: 150px;
            text-align: center;
        }

        .no-track-info h1 {
            color: #fff;
            margin-bottom: 50px;
        }

        .no-track-info p {
            margin-top: 50px;
            color: #ccc;
        }
    </style>
    <div class="no-track-info">
        <h1>Основное правило платформы PyJam</h1>

        <p>
            Не используйте плохие слова, а также изображения с неприемлемым содержанием
        </p>

        <p>
            За несоблюдение правил администрация сайта вправе выдать пользователю<br>
            предупреждение, а также обнулить фотографии, имя и фамилию пользователя.<br>
            При повторных нарушениях администрация PyJam имеет полное право <br>
            удалить аккаунт нарушителя со всеми данными.
        </p>

        <h1 style="margin-top: 50px;"> Оставайтесь добропорядочными! </h1>
    </div>
{% endblock %}