{% extends "base.html" %}
{% block title %} Распознать песню {% endblock %}


{% block content %}
<div class="container_track" style="margin-top: 150px;">
    {% if track %}
    <div class="track-info" style="margin-top: 0px;">
        <div class="track-image">
            <img src="{{ track.background }}" alt="{{ track.track }}" class="img-fluid rounded-cover"></div>
        <div class="track-details">
            <h2 class="track-title">{{ track.track }}</h2>
            <p class="track-artist">{{ track.band }}</p>
            <div class="copy-link">
                <button class="btn btn-success" onclick="copyToClipboard('{{ link }}')">Поделиться</button>
            </div>
            <div class="track-actions">
                <a href="/artist/track/{{ track.id }}" class="btn btn-primary">Об исполнителе</a>
                <a href="/similiar/track/{{ track.id }}" class="btn btn-danger">Похожие треки</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="no-track-info">
        <p>К сожалению, у нас нет информации о данном треке...</p>
    </div>
    {% endif %}
</div>

    <script>
        function copyToClipboard(link) {
            navigator.clipboard.writeText(link)
        }
    </script>

{% endblock %}