{% extends "base.html" %}
{% block title %} Распознать песню {% endblock %}

{% block scripts %}
<script>
    function copyToClipboard(link) {
        navigator.clipboard.writeText(link)
    }
</script>
{% endblock %}

{% block content %}
    {% if track %}
        <div class="recognize-window">
            <figure style="margin: 40px 0px;">
                <img width="250px" height="250px" style="border-radius: 25px" src= {{ track.background }}>
                <figcaption> <b>{{ track.track }}</b> <br> {{ track.band }} </figcaption>
            </figure>
            <div>
                Должен быть скопирован следующий текст: {{ link }} (Если скопировался, значит, работает, напишешь мне) <br>
                <a class="btn btn-primary" href="/artist/track/{{ track.id }}">Об исполнителе</a>
                <a class="btn btn-danger" href="/similiar/track/{{ track.id }}">Похожие треки</a>
                <button class="btn btn-success" onClick="copyToClipboard('{{link}}')">Поделиться</button>

            </div>
        </div>
    {% else %}
            К сожалению, у нас нет информации о данном треке...
    {% endif %}
{% endblock %}
