{% extends "base.html" %}
{% block title %} Главная {% endblock %}

{% block content %}
    <style>
        .login-form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 10px;
        }

        .login-form h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        .login-form .form-group {
            margin-bottom: 20px;
        }

        .login-form label {
            font-weight: bold;
        }

        .login-form .form-control {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        .login-form .btn-primary {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }

        .login-form .btn-primary:hover {
            opacity: 0.9;
        }

        .login-form .alert-danger {
            margin-top: 5px;
            padding: 10px;
            font-size: 14px;
            border-radius: 4px;
            background-color: #f8d7da;
            border: 1px solid #f5c6cb;
        }

        .error-field {
        border: 2px solid red !important;
        box-shadow: 0px 0px 5px 2px rgba(255, 0, 0, 0.5) !important;
        }
    </style>

    <div style="margin-top: 100px;">
        {% if current_user.is_authenticated %}
            <form action="" method="post" class="login-form {% if form.current_password.errors or form.new_password.errors or form.repeat_password.errors %}error-field {% endif %}">
                <h1>Сменить пароль</h1>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.current_password.label }}<br>
                    {{ form.current_password(class="form-control", type="password") }}<br>
                    {% for error in form.current_password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.new_password.label }}<br>
                    {{ form.new_password(class="form-control", type="password") }}<br>
                    {% for error in form.new_password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.repeat_password.label }}<br>
                    {{ form.repeat_password(class="form-control", type="password") }}<br>
                    {% for error in form.repeat_password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group btn-group">
                    {{ form.submit(type="submit", class="btn btn-primary") }}
                </div>
                <a class="btn btn-danger" href="/cabinet"> Назад </a>
                {{message}}
            </form>
        {% else %}
            <h2> Авторизуйтесь, чтобы получить доступ к своему личному кабинету и редактированию данных! </h2>
        {% endif %}
    </div>
{% endblock %}
