{% extends "base.html" %}
{% block title %} Распознать песню {% endblock %}

{% block content %}
    {% if message %}
        {{ message }}
    {% endif %}

    <div class="recognize-window">
        <figure style="margin: 40px 0px;">
            <img width="250px" height="250px" style="border-radius: 25px" src= {{ background }}>
            <figcaption> {{ track }}, {{ band }} </figcaption>
        </figure>

        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="rec">Приложите звуковой файл</label>
                <input type="file" accept=".mp3,.m4a" class="form-control-file" id="rec" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Распознать</button>
        </form>
    </div>

{% endblock %}
